# Directorios de compilación
build/
out/

# Archivos auxiliares de LaTeX
*.aux
*.log
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.bcf
*.run.xml
*.nav
*.snm

# PDFs generados (opcional)
*.pdf

